/* .search{
    width: 181px;
    height: 35px;
    ;
} */
.search p {
    display: inline;
    font-size: 15px;
    font-weight: 700px;
}
.search-input{
    border-radius: 12px;
    border: solid 1px #D1D1D1;
    box-sizing: border-box;
    width: 181px;
    height: 48px;
    padding-left: 10px;
    width: 400px;
}
::placeholder{
    padding-left: 5px;
}
.search-input:focus{
    outline-width: 0px;
}

.search-button{
    display: inline;
    margin-left: -30px;
    background-color: transparent;
    border:none;
    padding: 0;
}
