.container{
    width: 85%;
    margin:0 auto !important;
    padding: 0 !important;
    margin-top: 80px !important;
    padding-bottom: 50px !important;
    min-height: 800px;
}
.box{
    border-bottom: solid 0.1px rgb(184, 176, 176);
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px; 
    /* grid-template-rows: 350px */
  }

  .list-cate{
    list-style-type: none;
    padding: 0;
  }
  .list-cate li{
      margin-top: 20px;
      font-size: 14px;
  }

  a {
    text-decoration: none !important;
  }
  .order-button{
    width: 63px;
    height: 30px;
    position: absolute;
    background-color: #6A983C;
    font-size: 13px;
    bottom: 16px;
    right: 16px;
    border-radius: 8px;
    border: 2px solid #46760A;
    text-align: center;
    padding-top: 3px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

.form-check {
  margin-bottom: 1rem;
}

.rating {
  padding-left: 30px;
}

.fa.fa-star {
  margin-bottom: 1rem;
}

.fa.fa-star.checked {
  color: orange;
}

.breadcrumb {
  background-color: white !important;
}